<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <br>
            <H2>Encender PCs</H2>
           <form action="/dashboard/cmd" method="post" >  
            <hr>
            <input type="hidden" value="pc1" name="cmd"/>
            <h4>PC i7 Sobremesa</h4>
                <button class="btn btn-lg btn-info"><i class="fa fa-power-off" aria-hidden="true"></i> Encender</button>
           </form>

            <form action="/dashboard/cmd" method="post" >  
            <hr>
             <input type="hidden" value="pc2" name="cmd"/>
            <h4>PC Work</h4>
                <button class="btn btn-lg btn-warning"><i class="fa fa-power-off" aria-hidden="true"></i> Encender</button>
           </form>
           <br>

           {{#each files}}
                <div class="list-group">
                    <form method="post" action="/dashboard/">
                        

                        {{#if isDir}}
                            <input type="hidden" name="directory" value="{{path}}"/>
                            <input type="hidden" name="isDir" value="{{isDir}}"/>
                            <input type="hidden" name="type" value="dir"/>
                            <button href="#" class="list-group-item list-group-item-action"><i class="fa fa-folder" aria-hidden="true"></i> {{file}}</button>
                        {{else}}
                            <input type="hidden" name="directory" value="{{path}}"/>
                            <input type="hidden" name="isDir" value="{{isDir}}"/>
                            <input type="hidden" name="type" value="file"/>
                            <button href="#" class="list-group-item list-group-item-action"> {{file}}</button>
                        {{/if}}

                    </form>
                </div>
            {{/each}}
        </div>
    </div>
</div>





