<div class="form-group">
    {{#if properties.elemento}}
        <p>Editar {{URL}} {{properties.elemento.single}}</p>
    {{else}}
        <p>Agregar {{URL}} {{properties.elemento.single}}</p>
    {{/if}}
</div>